.DS_Store
cmd/goose/goose*
*.swp
*.test
.project
postgresql/ansible/tmp.sh
postgresql/ansible/runtest.sh
postgresql/ansible/test.yaml
postgresql/ansible/inventory.cfg
postgresql/ansible/vars/parameters.yml
